/* General settings */
body {
    background:black;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    color: white;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-weight: 300;
    justify-items: center;
}

p {
    font-weight: 300;
    color: white;
    justify-items: center;
    font-size: 115%;
}

.about{
  text-align: center;
  font-size: 40px;
  margin: 20px;
}

/* Navigation settings */
.nav {
    width: 80%;
    margin: 0, auto;
}

header {
    background: #2B2B2B;
}

header::after{
    content: '';
    display: table;
    clear: both;

}

nav {
    float: center;
    font-size: 16px;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    padding: 30px, 0;
    padding-bottom: 25px;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: black;
  background: #e1e1e1;
  border-top: 1px solid black;
}

/*hero-image settings */
.image-container-banner{
    background-image: url("light-bulb.jpg");
    height: 100%;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.image-container-banner-profile{
    background-image: url("dashboard-background.jpg");
    height: 100%;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.inner-container-banner{
    text-align: center;
    position: absolute;
    width: 100%;
    color: white;
    height: auto;
    margin-top: 0px;
}

.banner-faq{
    font-weight: bold;
    font-size: 130px;
    position: center;
    color: #A8A8A8;
}

.banner-faq-2{
    font-weight: bold;
    font-size: 40px;
    margin: -50px;
    color: #A8A8A8;
}

.banner-profile{
  font-weight: bold;
    font-size: 130px;
    position: center;
    color: #4a4a4a;
}

.banner-profile-2{
  font-weight: bold;
  font-size: 40px;
  margin: -50px;
  color: #4A4A4A;
}

/* FAQ Accordion settings*/ 
.accordion {
    max-width: 1200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    background: #4A4A4A;
    margin:auto; 
  }
  
  .accordion__label,
  .accordion__content {
    padding: 14px 20px;
  }
  
  .accordion__label {
    display: block;
    color: white;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
  }
  
  .accordion__label:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  
  .accordion__label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
    background-size: contain;
    transition: transform 0.4s;
  }
  
  .accordion__content {
    background: #2B2B2B;
    line-height: 1.6;
    font-size: 0.85em;
    display: none;
  }
  
  .accordion__input {
    display: none;
  }
  
  .accordion__input:checked ~ .accordion__content {
    display: block;
  }
  
  .accordion__input:checked ~ .accordion__label::after {
    transform: translateY(-50%) rotate(0.5turn);
  }

  /* Grid settings*/ 
  .grid-container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 500px 1500px;
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    justify-content: center;
  }

  .grid-container2{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 500px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: left;

  }

  .grid-item2-profile{
      justify-content: center;
      margin-right: 60px;
      margin-left: 60px;
  }