
h1 {
    font-family: 'Crete Round', serif;
}

h2 {
    font-family: 'EB Garamond', serif;
    text-align: center;
    padding-top: 120px;
}

h3 {
  color: white; 
  font-family: 'Karma', serif;
}

p {
    font-family: 'Karma', serif;
    padding-left: 190px;
    padding-right: 190px;
    padding-bottom: 120px;
    padding-top: 30px;
    text-align: center;
}

p#logo{
    font-size: 16px;
}

header{
  display: inline;
}

.blockGreen{
  background-color: #76846F;
  color: white
}

hr {
  width: 40%;
}

/*Profile */
.profile2 {
  text-align: center;
  font-size: 16px;
  padding-left: 190px;
  padding-right: 190px; 
  display: flexbox; 
  padding-top: 10px;
}


ul.profile{
  padding-bottom: 120px; 
}

#photo1Profile{
  width:400px;
  height: 400px; 
  border: 1px;
  padding-left: 120px;
  padding-right: 10px;
  padding-top: 120px;
  padding-bottom: 120px
}

#photo2Profile{
  width:400px;
  height: 400px; 
  border: 1px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 120px;
  padding-bottom: 120px
}

#photo3Profile{
  width: 400px;
  height: 400px; 
  border: 1px;
  padding-left: 10px;
  padding-right: 120px;
  padding-top: 120px;
  padding-bottom: 120px
}

a{
  color: black;
  text-decoration: none;
}

/*Navigation Bar*/
.navbar {
  display: inline;
  font-size: 16px;
  padding: 30px; 
  margin-right: 30px;
  font-family: 'Crete Round', serif;
}

#navbarText {
  color: white;
  font-family: 'Crete Round', serif;
  font-size: 30px;
}

header {
  background: var(--background) black;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 12%;
  background-color: rgba(112, 112, 112, 0.65);
  padding-left: 20px;
  padding-right: 20px;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: center;
  top: 100%;
  left: 0;
  background: var(--background) rgb(58, 58, 58);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color:black;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  
  nav {
    all: unset; 
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 2em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
}

/*Table Dashboard*/
table.table-faq-costs {
  width:80%;
  background: rgb(118, 132, 111, 0.8);
  border-collapse: collapse;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  color: white;
  margin: 120px;
}

table.table-faq-costs td, table.table-faq-costs th {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  padding: 5px;
}

table.table-faq-costs thead {
  background-color: #76846F;
}

td#ec{
  text-align: center;
}

td#cijfer{
  text-align: center;
}

td#blok{
  text-align: center;
}

/* Cards dashboard*/

* {
  box-sizing: border-box;
}

.cards-dashboard{
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 50px;
  margin-bottom: 120px;
}

.column {
  float: left;
  width: 33%;
  padding: 0 20px;
  margin-top: 30px;
}

.row {margin: 5px -5px;}


.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(29, 29, 29, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #76846F;
}

.card:hover {
  box-shadow: 0 10px 20px 0 rgba(0,0,0,1);
}

img#cer, img#oer, img#hzlearn, img#studievoortgang, img#teams, img#github{
  width: 120px;
}

img#cer:hover, img#oer:hover, img#hzlearn:hover, img#studievoortgang:hover, img#teams:hover,img#github:hover {
  opacity: 0.5;
} 



/*NBSA-BAR*/
.meter { 
  height: 40px;
  width: 75%;
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  margin-left: 180px;
  margin-right: 120px;
  margin-top: 120px;
  margin-bottom: 120px;
  
}

.meter > span {
  display: block;
  height: 90%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

/*ACCORDION FAQ */
.accordion {
  max-width: 1200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  background: #849A84;
  margin:auto;
  margin-bottom: 120px;
}

.accordion__label,
.accordion__content {
  padding: 14px 20px;
}

.accordion__label {
  display: block;
  color: white;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: background 0.1s;
}

.accordion__label:hover {
  background: rgba(0, 0, 0, 0.1);
}

.accordion__label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 12px;
  height: 6px;
  background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
  background-size: contain;
  transition: transform 0.4s;
}

.accordion__content {
  background: #93AF99;
  line-height: 1.6;
  font-size: 0.85em;
  display: none;
}

.accordion__input {
  display: none;
}

.accordion__input:checked ~ .accordion__content {
  display: block;
}

.accordion__input:checked ~ .accordion__label::after {
  transform: translateY(-50%) rotate(0.5turn);
}

#parkerenPhoto {
  margin-left: 350px;
  width: 40%;
}

/*Hero Banner */
.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    justify-content: center;
  }

  .grid-container2{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 300px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: left;

  }

  .image-container-banner-home{
    background-image: url("indexBanner.jpg");
    height: 100%;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .image-container-banner-about{
    background-image: url("about.jpg");
    height: 100%;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .image-container-banner-motivation{
    background-image: url("motivationBanner.jpg");
    height: 100%;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .image-container-banner-dashboard{
    background-image: url("Dashboard_banner.jpg");
    height: 100%;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .image-container-banner-faq{
    background-image: url("faqBanner.jpg");
    height: 100%;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  h1.banner-home{
    text-align: center;
    font-size: 72px;
    font-family: 'Crete Round', serif;
    color: #76846f;
    padding-top: 200px;
  }

  .banner-home-2{
    text-align: center;
    font-family: 'EB Garamond', 'serif';
    padding-top: 40px;
    color: #76846f; 
  }
